html, body {
    margin: 0;
    padding: 0;
 }




.section4_ourstory {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0%;
    background-image: url(Media/Background/bgk-middle.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #30235f;
    height: 20em;
    width: 100%;
    color: white;
    overflow: hidden;
}

.videoSize {
    height: auto;
    width: auto;
}

/*
.video_play{
    transform: scale(.2); 
}

.video_play:hover {
    transform: scale(.4);
}

*/